@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}
.col-4 {
  width: 40%;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7 {
  width: 70%;
}
.col-8 {
  width: 80%;
}
.col-9 {
  width: 90%;
}
.col-10 {
  width: 100%;
}
body {
  background-color: gray;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Lato', sans-serif;
  margin: 0px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#logo {
    display: inline-block;
    margin-right: 30px;
}
#logo img {
    width: 40px;
    height: auto;
}
.menu {
  text-transform: uppercase;
  color: rgba(170, 146, 146, 0.8);
  display: flex;
  cursor: pointer;
  position: relative;
  width: 100%;
  background-color: black;
  padding: 15px;
  justify-content: left;
  align-content: left;
  align-items: center;
  box-shadow: 0px 0px 15px black;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  opacity: 0.6;
}
.item a:-webkit-any-link {
  color: inherit;
}
.item a:link {
  text-decoration: none;
}
.item:hover span {
  color: #ff0000;
}
.menu:hover .item {
  opacity: 1;
}
.home {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background-color: white;
}
.disciplineInfo {
  display: flex;
  background-image: url('Resources/ProgrammingWallpaper.jpg');
  min-height: 80vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
#disciplineText h1 {
  font-size: 4em;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
}
#disciplineText p {
  font-size: 2em;
  color: white;
}
.pictureOne {
  color: white;
  display:flex;
  flex-direction: column;
}
.pictureOne img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}
.infoStudentText {
 margin-left: auto;
 margin-right: auto;
 display: block;
 margin-top: 30px;
}
.infoStudentText h1 {
  font-size: 3em;
  text-align: center;
  font-family: 'Crimson Text', serif;
}
.infoStudentText p {
  font-size: 1.1em;
  font-family: 'Crimson Text', serif;
}
#studentsDescription {
  height: 80vh;
  background-image: url('Resources/KingdomWallpaper.jpg');
  background-size: cover;
}
.footer {
position: relative;
bottom: 0;
left: 0;
display: flex;
background-color: black;
padding: 15px;
justify-content: center;
align-content: center;
align-items: center;
box-shadow: 0px 0px 15px black;
}