@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
  body {
    background-color: gray;
    color: black;
    font-family: 'Lato', sans-serif;
    margin: 0px;
  }
  body a {
    text-decoration: none;
  }
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  #logo {
      display: inline-block;
      margin-right: 30px;
  }
  #logo img {
      width: 40px;
      height: auto;
  }
  .menu {
    text-transform: uppercase;
    color: rgba(170, 146, 146, 0.8);
    display: flex;
    cursor: pointer;
    position: relative;
    width: 100%;
    background-color: black;
    padding: 15px;
    justify-content: left;
    align-items: center;
    box-shadow: 0px 0px 15px black;
    height: 10vh;
  }
  .item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    opacity: 0.6;
  }
  .item a:-webkit-any-link {
    color: inherit;
  }
  .item a:link {
    text-decoration: none;
  }
  .item:hover span {
    color: #ff0000;
  }
  .menu:hover .item {
    opacity: 1;
  }
  .content {
      display: flex;
      flex-direction: column;
      height: 90vh;
      background-image: url('Resources/HtmlWallpaper.jpg');
      color: black;
      align-content: center;
      align-items: center;
    justify-content: center;
}
.content h1 {
    font-size: 3em;
}
.content p {
    margin-top: 50px;
    line-height: 2;
}